@font-face {
  font-family: "fredoka";
  src: url('/assets/fonts/Fredoka-Bold.ttf');
}

@font-face {
  font-family: "fredoka-semi";
  src: url('/assets/fonts/Fredoka-SemiBold.ttf');
}

.fredoka {
  font-family: 'fredoka', serif;
}

.fredoka-semi {
  font-family: 'fredoka-semi', serif;
}

.fredoka {
  font-family: 'fredoka', serif;
}

.enter-data {
  //max-height: 869px;
  background-image: url("/assets/images/fondo-rosado.png");
  background-size: cover;
  padding: 23px 0 25px 0;

  input, button, select, optgroup, textarea {
    border: 1px solid #f6a112 !important;
  }

  label {
    color: #209e9a;
    font-family: 'fredoka-semi', serif;
  }

  .terms {
    color: #209e9a;
    font-family: 'fredoka-semi', serif;
  }

  @media (max-width: 579px) {
    .wrapper {
      //max-height: 500px;
      //min-width: 180px;
      margin: 0 auto;
      background-color: white;
      padding: 10px 40px 20px;
      border-radius: 10px;

      .label {
        color: #e26462;
        font-size: 1rem;
        text-align: center;
      }

      .input {
        max-width: 518px;
        margin: 30px;
      }

      .button button {
        background-color: #f6a112;
        color: white;
        font-size: 1rem;
        max-width: 355px;
        max-height: 80px;
        margin: 0 auto;
      }
    }
  }

  @media (min-width: 580px) {
    .wrapper {
      //max-height: 500px;
      max-width: 980px;
      margin: 0 auto;
      background-color: white;
      padding: 30px 140px 120px;
      border-radius: 10px;

      .label {
        color: #e26462;
        font-size: 2rem;
        text-align: center;
      }

      .input {
        max-width: 518px;
        margin: 30px;
      }

      .button button {
        background-color: #f6a112;
        color: white;
        font-size: 2rem;
        max-width: 355px;
        max-height: 80px;
        margin: 0 auto;
      }
    }
  }
  @media (min-width: 816px) {
    .wrapper {
      //max-height: 500px;
      max-width: 980px;
      margin: 0 auto;
      background-color: white;
      padding: 30px 140px;
      border-radius: 10px;

      .label {
        color: #e26462;
        font-size: 4rem;
        text-align: center;
      }

      .input {
        max-width: 518px;
        margin: 30px;
      }

      .button button {
        background-color: #f6a112;
        color: white;
        font-size: 2rem;
        max-width: 355px;
        max-height: 80px;
        margin: 0 auto;
      }
    }
  }
}
