<div class="d-flex flex-row justify-content-center align-items-center p-2 steps">
  <div class="d-inline-flex" *ngIf="step < 4">
    <img *ngIf="step === 1" class="img-fluid align-middle blanco" src="../../../assets/images/1-fondo-blanco.png" alt="1 fondo blanco">
    <img *ngIf="step !== 1" class="img-fluid align-middle celeste" src="../../../assets/images/1-fondo-celeste.png" alt="1 fondo celeste">
  </div>
  <div class="d-inline-flex" *ngIf="step < 4">
    <img class="img-fluid align-middle" src="../../../assets/images/separador-numero.png" alt="separador numero">
  </div>
  <div class="d-inline-flex" *ngIf="step < 4">
    <img *ngIf="step === 2" class="img-fluid align-middle blanco" src="../../../assets/images/2-fondo-blanco.png" alt="2 fondo blanco">
    <img *ngIf="step !== 2" class="img-fluid align-middle celeste" src="../../../assets/images/2-fondo-celeste.png" alt="2 fondo celeste">
  </div>
  <div class="d-inline-flex" *ngIf="step < 4">
    <img class="img-fluid align-middle" src="../../../assets/images/separador-numero.png" alt="separador numero">
  </div>
  <div class="d-inline-flex" *ngIf="step < 4">
    <img *ngIf="step === 3" class="img-fluid align-middle blanco" src="../../../assets/images/3-fondo-blanco.png" alt="3 fondo clanco">
    <img *ngIf="step !== 3" class="img-fluid align-middle celeste" src="../../../assets/images/3-fondo-celeste.png" alt="3 fondo celeste">
  </div>
  <div class="d-inline-flex" *ngIf="step > 3">
    <img class="img-fluid align-middle blanco" src="../../../assets/images/transparent-step.png" alt="bloque transparente">
  </div>
</div>
