.wrapper {
  background-color: white;
}

.congrats {
  color: #e26462;
  text-align: center;
}

.luck {
  color: #209e9a;
  text-align: center;
  font-family: 'fredoka-semi', serif;
}

.again {
  font-family: 'fredoka', serif;
  background-color: #ffebcb;
  border-radius: 10px;
  color: #8fac3c;
  margin: 0 auto;
}

.footer {
  font-family: 'fredoka', serif;
  color: #e26462;
}

.terms {
  color: #209e9a;
  text-align: center;
  font-family: 'fredoka-semi', serif;
}

.completed {
  background-image: url("/assets/images/fondo-rosado.png");
  background-size: cover;
  padding: 23px 0 50px 0;

  button {
    border: 1px solid #8fac3c;
    background-color: #8fac3c;
    color: white;
  }

  @media (min-width: 724px) {
    .wrapper {
      margin: 0 auto;
      padding: 10px 40px 20px;
      border-radius: 10px;
      width: 770px;

      .congrats {
        color: #e26462;
        font-size: 4rem;
        text-align: center;
      }

      .luck {
        margin: 30px;
        font-size: 1.7rem;
      }

      .again {
        width: 480px;
        font-size: 2.5rem;
        padding: 10px 20px 20px;

        button {
          font-size: 2.5rem;
          margin: 0 auto;
          max-width: 320px;
        }
      }

      .footer {
        font-size: 2.3rem;
        max-height: 80px;
        margin: 0 auto;
      }

      .terms {
        font-size: 0.7rem;
      }
    }
  }
  @media (min-width: 285px) and (max-width: 723px) {
    .wrapper {
      margin: 0 auto;
      padding: 10px 20px 20px;
      border-radius: 10px;

      .congrats {
        color: #e26462;
        font-size: 2rem;
        text-align: center;
      }

      .luck {
        margin: 30px;
        font-size: 1.2rem;
      }

      .again {
        font-size: 1.5rem;
        padding: 10px 20px 20px;

        button {
          font-size: 1.5rem;
          margin: 0 auto;
        }
      }

      .footer {
        font-size: 1.3rem;
        max-height: 80px;
        margin: 0 auto;
      }

      .terms {
        font-size: 0.7rem;
      }
    }
  }
}
