<div class="d-flex flex-row fredoka completed">
  <div class="wrapper">
    <div class="congrats">
      Felicidades
    </div>
    <div class="luck">
      Ya estás participando del concurso<br>
      !Mucha suerte!
    </div>
    <div class="again text-center">
      ¿Tienes otro código?
      <button type="button" class="form-control button">Ingresalo aquí</button>
    </div>
    <div class="footer text-center">
      Fecha de sorteo: 03 de junio de 2024
    </div>
    <div class="terms">
      Revisar términos y condiciones <a href="#">aquí</a>
    </div>
  </div>
</div>
